@import 'tailwindcss';

@theme {
  --color-bg: #0b0d12;
  --color-surface: #13161d;
  --color-accent: #e10600; /* F1 red */
  --color-text: #f5f5f5;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
